<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Boolzap</title>
</head>
<body>

    <div id="app" class="main-container">
        <!-- contacts-section -->
        <section class="contacts-section">
            <!-- toolbar-contacts -->
            <div class="toolbar toolbar-contacts">
                <div class="user-info">
                    <figure class="picture-smaller">
                        <img class="profile-picture" src="img/photo-1547407139-3c921a66005c.jpeg" alt="">
                    </figure>
                    <div class="contact-name">Name</div>
                </div>
    
                <ul class="icon-container">
                    <li>
                        <i class="fa-regular fa-circle"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-message"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </li>
                </ul>
            </div>
            <!-- contacts-container -->
            <div class="contacts-container">
                <div class="new-notification">
                    <i class="fa-solid fa-bell-slash"></i>

                    <div class="receive-desktop">
                        <div class="receive">Ricevi notifiche di nuovi utenti</div>
                        <a href="" class="desktop-notification">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="searchbar-container">
                    <div class="searchbar-wrapper">
                        <button class="btn-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" class="search-input" v-model="searched">
                    </div>
                </div>

                
                <div class="chat-preview" v-for="(contact, i) in contacts" @click="getChat(i)">
                    <div class="picture-wrapper">
                        <figure class="picture-container">
                            <img class="profile-picture" :src="contact.avatar" alt="">
                        </figure>
                    </div>

                    <!-- prima ho ciclato dentro contacts usando come elemento corrente di riferimento contact poi, per estrarre text da messages, 
                    devo ciclare prendendo l'elemento contact e dicendogli di accedere dentro a messages quindi contact.message
                    e mi creo un nuovo elemento di riferimento (message) -->
                    <div class="preview-wrapper" v-for="(message, i) in contact.messages.slice(0,1)">
                        <!-- .slice extracts up to but not including end, for example: slice(1,4) extracts the second element through the fourth element (elements indexed 1, 2, and 3) --> 
                        <div class="contact-preview">
                            <div class="contact-name">
                                {{contact.name}}
                            </div>
                            <div class="message-preview">
                                {{message.text}}
                            </div>
                        </div>
                        <div class="last-message">  
                            {{message.date}}
                        </div>
                        
                    </div>
                </div> <!-- fine chat-preview -->

            </div><!-- fine contacts-container -->

        </section> <!-- fine contacts-section -->

        <!-- chat section -->
        <section class="chat-section">
            <!-- toolbar-chat -->
            <div class="toolbar toolbar-chat">
                <div class="contact-info">
                    <figure class="picture-smaller">
                        <img class="profile-picture" src="https://picsum.photos/200/300" alt="">
                    </figure>
                    <div>
                        <div class="contact-name">Name</div>
                        <div class="last-seen">Ultimo accesso</div>
                    </div>
                </div>
        
                <ul class="icon-container">
                    <li>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-video"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </li>
                </ul>
            </div>

            <!-- chat-container -->
            <div class="chat-container">
                <div class="chat-wrapper" v-for="(contact, i) in contacts">
                    <div class="message sent">
                        <div class="text">
                            Lorem ipsum dolor sit amet.
                        </div>
                        <div class="date-time">
                            data e ora
                        </div>
                    </div>
                    
                    <div class="message received" v-for="(message, i) in contact.messages">
                        <div class="text" >
                            {{message.text}}
                        </div>
                        <div class="date-time">
                            {{message.date}}
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="write-container">
                <i class="fa-regular fa-face-smile"></i>
                <i class="fa-solid fa-paperclip"></i>
                <input type="text" placeholder="Scrivi un messaggio" class="write-input" v-model="newMessage" @keyup.enter="sendMessage()">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </section>

    </div>

    <script src="script.js"></script>
</body>
</html>