<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Boolzap</title>
</head>
<body>

    <div id="app" class="main-container">
        <!-- contacts-section -->
        <section class="contacts-section">
            <!-- toolbar-contacts -->
            <div class="toolbar toolbar-contacts">
                <div class="user-info">
                    <figure class="picture-smaller">
                        <img class="profile-picture" src="img/photo-1547407139-3c921a66005c.jpeg" alt="">
                    </figure>
                    <div class="contact-name">Michela</div>
                </div>

                <ul class="icon-container">
                    <li>
                        <i class="fa-regular fa-circle"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-message"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </li>
                </ul>
            </div>
            <!-- contacts-container ---------------------------->
            <div class="contacts-container">
                <div class="new-notification">
                    <i class="fa-solid fa-bell-slash"></i>

                    <div class="receive-desktop">
                        <div class="receive">Ricevi notifiche di nuovi messaggi</div>
                        <a href="" class="desktop-notification">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="searchbar-container">
                    <div class="searchbar-wrapper">
                        <button class="btn-search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" class="search-input" v-model="searchText">
                    </div>
                </div>

                <!-- chat preview -->
                <div class="chat-preview" v-for="(contact, i) in filteredContacts" @click="selectContact(contact,i)" :class="activeContact === contact ? 'active' : '' ">
                 <!-- il contact attivo viene selezionato con il click che con la funzione rende this.activeContact = contact; poi gli dico che se activeContact corrisponde a contact che é l'elemento corrente allora assegno la classe active -->
                 <!-- v-for="(contact, i) in filteredContacts" il ciclo viene fatto dentro l'array in cui ci sono i nomi che vengono filtrati a seconda di quello che viene scritto in this.searchText-->
                    <div class="picture-wrapper">
                        <figure class="picture-container">
                            <img class="profile-picture" :src="contact.avatar" alt="">
                        </figure>
                    </div>

                    <div class="preview-container">
                        
                        <div class="contact-name">
                            {{contact.name}}
                        </div>
                        <div class="preview-wrapper" v-for="(message, i) in contact.messages.slice(-1)">
                            <div class="contact-preview">
                                <div class="message-preview">
                                    {{message.text}}
                                </div>
                            </div>
    
                            <div class="last-sent" v-if="activeContact.length !== 0">
                                {{getHour(message.date)}}
                            </div>
                            <div class="last-sent" v-else></div>
                        </div>
                    </div>
                </div> <!-- fine chat-preview -->
            </div><!-- fine contacts-container -->

        </section> <!-- fine contacts-section -->

        <!-- chat section ---------------------------->
        <section class="chat-section">
            <!-- toolbar-chat -->
            <div class="toolbar toolbar-chat">
                <div class="contact-info">
                    <figure class="picture-smaller">
                        <img class="profile-picture" :src="activeContact.avatar" alt="">
                    </figure>
                    <div>
                        <div class="contact-name">
                            <!-- prendo il nome dell'elemento attivo che ho selezionato con il click -->
                            {{activeContact.name}}
                        </div>
                        <div class="last-seen">
                            {{getDate(lastSeen.date)}} {{getHour(lastSeen.date)}}
                        </div>
                    </div>
                </div>

                <ul class="icon-container">
                    <li>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-video"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-ellipsis-vertical"></i> 
                    </li>
                </ul>
            </div>

            <div class="chat-container">
                <!-- devo prendere i messagi dentro al contatto attivo  -->
                <div class="message" v-for="(message, i) in activeContact.messages" :class="message.status" v-on:mouseover="addZindex" v-on:mouseleave="removeZindex">
                    <div class="text" >
                        {{message.text}}
                    </div>
                    <div class="date-time" v-if="activeContact.length !== 0">
                        {{getHour(message.date)}}
                    </div>
                    <div class="date-time" v-else></div>
                    <div class="chevron-wrapper" @click="showOptions(i)">
                        <!-- per fare in modo che il chevron rimanga visibile quando clicco e poi vado nelle opzioni: -->
                        <!-- se message.visible === false allora si vede solo se ci vado sopra -->
                        <i v-if="!message.visible" class="fa-solid fa-chevron-down"></i>
                        <!-- se message.visible === true allora gli assegno la classe chevron-visible quindi rimane visibile anche se non ha l'hover -->
                        <i v-else class="fa-solid fa-chevron-down chevron-visible"></i>
                    </div>
                    <div v-if="message.visible === true" class="message-options" >
                        <div class="delete-message" @click="deleteMessage(i)">Elimina Messaggio</div>
                        <div class="message-info">Message info</div>
                    </div>
                </div>
            </div>
            
            <div class="write-container">
                <i class="fa-regular fa-face-smile"></i>
                <i class="fa-solid fa-paperclip"></i>
                <input type="text" placeholder="Scrivi un messaggio" class="write-input" v-model="newText" @keyup.enter="sendMessage()">
                <i class="fa-solid fa-microphone"></i>
            </div>

        </section>

    </div>

    <script src="script.js"></script>
</body>
</html>