*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
}

input:focus {
    outline: none;
} /*per togliere il bordo allínput quando ci vado dentro per scrivere*/

::placeholder{
    color: var(--grey-text);
}

ul li{
    list-style: none;
}

:root{
    --bg-ligthGrey: #EFF2F5;
    --icon-color: #53646F;
    --border-color: #DCDCDC;
    --grey-text: #808080;
}

/* Toolbars ------------------------------ */

.toolbar{
    height: 55px;
    width: 100%;
    background-color: var(--bg-ligthGrey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.user-info, .contact-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.picture-smaller{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-picture{
    width: 100%;
}

.icon-container{
    color: var(--icon-color);
    display: flex;
    gap: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.last-seen{
    font-size: 14px;
    color: var(--grey-text);
}

/* contacts-section -------------- */

.contacts-section{
    width: 30%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
}

.contacts-container{
    flex-grow: 1;
}

.new-notification{
    background-color: #8EDAFC;
    height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.fa-bell-slash{
    background-color: white;
    color: #8EDAFC;
    padding: 11px 9px;
    border-radius: 50%;
    font-size: 15px;
}

.desktop-notification{
    color: var(--grey-text);
}

.searchbar-container{
    background-color: white;
    padding: 8px 14px;
    height: 55px;
    position: relative;
}

.searchbar-container::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
    left: 0;
    bottom: 0;
}

.searchbar-wrapper{
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.btn-search{
    height: 100%;
    padding-left: 10px;
    background-color: var(--bg-ligthGrey);
    border: none;
    font-size: 16px;
    color: var(--icon-color);
}

.search-input{
    flex-grow: 1;
    height: 100%;
    border: none;
    padding: 15px;
    background-color: var(--bg-ligthGrey);
}

.chat-preview{
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 10px;
}

.preview-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    border-bottom: 1px solid var(--border-color);
}

.message-preview{
    font-size: 14px;
    color: var(--grey-text);
    /* per avere i 3 puntini quando il testo é troop lungo: */
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    height: 1.2em;
    white-space: nowrap;
}

.last-sent{
    font-size: 12px;
    color: var(--grey-text);
    align-self: flex-start;
    padding-top: 15px;
}

/* chat-section ------------------ */

.chat-section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-container{
    /* overflow-y: scroll; */
    flex-grow: 1;
    background-image: url('img/whatsapp-bg-default.png');
    /* background-color: #E5DDD5; */
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.picture-container{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.message{
    border-radius: 5px;
    padding: 12px;
    max-width: 70%;
    /* con la max-width non potrá essere piú grande di un tot */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* invece di box-shadow: 0 2px 3px #aaa; uso fliter: drop-shadow cosí l'ombra va anche sul triangolino*/
    filter: drop-shadow(0px 2px 2px #aaa);
    position: relative;
}

/* element+element -> esempio div + p = Selects the first <p> element that is placed immediately after <div> elements */
.sent + .received,
.received + .sent{
    margin-top: 20px;
}

.sent{
    background-color: #D5F9BB;
    align-self: flex-end; /* dandogli l'align self il div si adatterá al suo contenuto altrimenti prendeva la max-width */
    position: relative;
    border-top-right-radius: 0;
}

.sent::before{
    content: '';
    display: none;
    position: absolute;
    border: 6px solid #D5F9BB;
    border-bottom-color: transparent;
    border-right-color: transparent;
    top: 0;
    left: 100%;
}

.sent:first-child::before,
.received + .sent::before,
.received:first-child::before,
.sent + .received::before{
    display: block;
}

.received{
    background-color: white;
    align-self: flex-start;
    position: relative;
    border-top-left-radius: 0;
}

.received::before{
    content: '';
    display: none;
    position: absolute;
    border: 6px solid white;
    border-bottom-color: transparent;
    border-left-color: transparent;
    top: 0;
    right: 100%;
}

.text{
    padding-bottom: 12px;
}

.date-time{
    align-self: flex-end;
    font-size: 12px;
    color: var(--grey-text);
}

.write-container{
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bg-ligthGrey);
}

.write-input{
    width: 80%;
    border: none;
    height: 35px;
    padding: 0 15px;
    border-radius: 5px;
}

.write-container i{
    font-size: 16px;
    color: var(--icon-color);
}

/* -------- */

.active{
    background-color: var(--bg-ligthGrey);
}
