*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
}

input:focus {
    outline: none;
} /*per togliere il bordo allínput quando ci vado dentro per scrivere*/

::placeholder{
    color: grey;
}

/* Navbars ------------------------------ */

.navbar-contacts, .navbar-chat{
    height: 55px;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.contact-info, .user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-photo, .user-photo{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon-wrapper{
    color: #B1B1B1;
}

.icon-wrapper i:nth-child(2){
    margin: 10px;
}

.last-seen{
    font-size: 14px;
    color: grey;
}

/* contacts-section -------------- */

.contacts-section{
    width: 400px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #B1B1B1;
}

.contacts-container{
    flex-grow: 1;
}

.new-notification{
    background-color: #8EDAFC;
    height: 60px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.fa-bell-slash{
    background-color: white;
    color: #8EDAFC;
    padding: 11px 9px;
    border-radius: 50%;
    font-size: 15px;
}

.desktop-notification{
    color: grey;
}

.searchbar-wrapper{
    height: 45px;
    background-color: white;
    border-top: 5px solid #f1f1f1;
    border-bottom: 5px solid #f1f1f1;
    border-right: 8px solid #f1f1f1;
    border-left: 8px solid #f1f1f1;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.btn-search{
    padding-left: 10px;
    background-color: white;
    border: none;
    font-size: 16px;
    color: #B1B1B1;
}

.search-input{
    flex-grow: 1;
    height: 100%;
    border: none;
    padding: 15px;
}

.chat-preview{
    height: 58px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
}

.chat-preview .contact-photo{
    border: 1px solid black;
}

.preview-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.message-preview, .last-message{
    font-size: 14px;
    color: grey;
}

/* chat-section ------------------ */

.chat-section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-container{
    background-color: #E5DDD5;
    flex-grow: 1;
    width: 100%;
    padding: 30px;
}

.message-wrapper{
    width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.message-text{
    border-radius: 5px;
    padding: 10px;
    height: 60px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.sent-text{
    background-color: #D5F9BB;
    float: right;
}

.received-text{
    background-color: white;
    float: left;
}

.date-time{
    align-self: flex-end;
    font-size: 12px;
    color: grey;
}


.write-container{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EAEAEA;
}

.write-input{
    width: 80%;
    border: none;
    height: 35px;
    padding: 15px;
    border-radius: 5px;
}

.write-container i{
    font-size: 16px;
    color: grey;
}
